.ant-modal {
  @include respond-to(mobile-tablet) {
    width: 80% !important;
  }

  .ant-modal-footer {
    padding: 0;
  }

  .ant-modal-body {
    padding-top: 0px;
    padding-bottom: 8px;
  }

  .ant-modal-close-x {
    &:hover {
      color: #2563eb;
    }
  }
}
