* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;

  :hover {
    text-decoration: none;
  }
}

.h-100 {
  height: 100%;
}

.m-h-100vh {
  min-height: 100vh;
}

.mb-0 {
  margin-bottom: 0;
}

.text-danger {
  color: #ff4d4f;
}

.text-secondary {
  color: #9ba5b9;
}

.text-info {
  color: #00e3e3;
}

.text-success {
  color: #00c38c;
}

.text-warning {
  color: #ffa734;
}

.font-weight-semi {
  font-weight: 500;
}

.required::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

// Custom scrollbar
* {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    //background: ghostwhite;
    //border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $third;
    border-radius: 5px;

    border: 2px solid #fff;
    // border-right: 2px solid #fff;
    background-clip: padding-box;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
}

.sortable-chosen {
  cursor: move;
  color: #40a9ff;
  border-radius: 5px;
}

.moving-card {
  opacity: 0;
}

/* Style browse file */
.box-form-browse {
  position: relative;
  border: 1px dashed #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  min-height: 150px;

  &:hover,
  &[drop-active='true'],
  &.dropzone-over {
    border: 1px dashed #007dfa;
  }

  input {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .txt-dec {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
